body {
    font-family: sans-serif;
    padding: 20px;
    background: #f59797;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }

  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }

  .card img {
    width: 50%;
    height: 50%;
  }

  .card p {
    text-align: center;
  }
  
 
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn {
      width: 100%;
      padding: 0;
    }
  }